<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>	 
<br><br>   
	<center><img src="/pics/about.gif" width="300" </a>
	<center>
		<br><br>
		<div class="g">
	<div class="gallery">
    <img src="/pics/a.png" width="300" height="200"> </a>
  <div class="desc"><b>ANDII CHUNG </b><br> Mar 1998<br> BS MIS</div>
</div>
	<div class="gallery">
    <img src="/pics/p.png" width="300" height="200"> </a>
  <div class="desc"><b>PAOLO SANCHEZ</b><br> Aug 1998<br> BS MIS</div>
</div>
	<div class="gallery">
    <img src="/pics/t.png" width="300" height="200"> </a>
  <div class="desc"><b>TRIA GONZALES</b><br> Sept 1998<br> BS MIS </div>
</div>
</div>
</center>


</body>
</html>